# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
lib/
vendor/

# Optional: Bundled JS and Sourcemaps
dist/
*.bundle.js
*.bundle.js.map

# Optional: Testing
coverage/

# Environment variables
.env

# Optional: Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
combined.log
gitignore